body {
    background: linear-gradient(to right, #9370DB, #8A2BE2); /* Adding gradient */
    margin-top: 50px;
    font-family: 'Lato';
}

.item {
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency to the item background */
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}

.item.completed {
    text-decoration: none; /* Removing the strike-through */
    background-color: #e7fce0; /* Light green background for completed items */
}

.toggles {
    color: #333;
}

.name {
    padding-top: 3px;
    font-size: 1.1em; /* Slightly increasing the font size */
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
    outline: none;
}

/* Enhanced button styles */
.btn, .btn-success {
    background-color: #5f85db;
    border-color: #5f85db;
    color: white;
    transition: all .2s ease-in-out;
}

.btn-success:hover {
    background-color: #466ab7;
    border-color: #466ab7;
}

.btn-link {
    color: #5f85db;
}

.btn-link:hover {
    color: #466ab7;
    text-decoration: none;
}

.far, .fa {
    transition: all .2s ease-in-out;
}

.far:hover, .fa-trash:hover {
    transform: scale(1.1);
}
